<form asp-action="Create">

	<label> Name</label>
	<input type="text" placeholder="Enter Username" id="input-name" name="uname" >

	<label> Server</label>
	<input type="text" placeholder="Enter Username" id="input-name" name="server" >

	
	<label> Last</label>
	<input type="text" placeholder="Enter Username" id="input-name" name="last" >


	
	<label> Lastdate</label>

	<input name="lastdate"/>




	<label>submit</label>
	<div>
		<input type="submit" />
	</div>
</form>